@media screen and (max-width: 1250px) {
    /* ==== SECTION SERVICES ==== */
    .services .card-container {
        padding: 12px;
    }
}

@media screen and (max-width: 1100px) {
    /* ==== MAIN ==== */
    .menu {
        display: block;
        z-index: 1;
    }

    main {
        overflow: hidden;
    }

    nav {
        justify-content: space-between;
        padding: 20px 10px 0 15px;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 65%;
        height: 100vh;
        background-color: #101010;
        flex-direction: column;
        transform: translateX(130%);
        transition: .4s ease;
        z-index: 1;
        gap: 40px;
    }

    nav ul.active {
        transform: translateX(0);
    }

    nav ul li a {
        font-size: 1.5rem;
    }
    
    .button {
        display: none;
    }

    /* ==== SECTION ABOUT ==== */
    .about {
        gap: 30px;
    }

    .about-content {
        text-align: center;
    }

    /* ==== FOOTER ==== */
    footer .copy-right {
        bottom: 18px;
    }
}

@media screen and (max-width: 650px) {

    /* ==== MAIN ==== */
    .content-box {
        padding: 10px;
        max-width: 500px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text h3 {
        font-size: 1.2rem;
    }

    .text h1 {
        font-size: 4rem;
    }

    .text h4 {
        font-size: 1.5rem;
    }

    .content-box form {
        width: 350px;
    }

    /* ==== SECTION ABOUT */
    .about figure {
        max-width: 350px;
    }

    .about-content {
        padding: 10px;
    }

    .about-content h2 {
        font-size: 3.5rem;
    }

    /* ==== SECTION SERVICES ==== */
    .services .title h2 {
        font-size: 3.5rem;
        padding: 0 8px;
    }

    .card {
        width: 330px;
    }

    .card i {
        font-size: 2rem;
    }

    .card h5 {
        font-size: 1.2rem;
    }

    .card button {
        padding: 10px 20px;
    }

    /* ==== SECTION CONTACT ME ==== */
    .contact-me .content h5 {
        padding: 10px;
    }

    /* ==== FOOTER ==== */
    footer .content {
        padding: 10px;
    }
}

@media screen and (max-width: 380px) {

    /* ==== MAIN ==== */
    .content-box form {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .content-box form input:first-child {
        padding: 14px;
    }

    .content-box form input:last-child {
        position: relative;
        left: 6px;
    }

    /* ==== SECTION ABOUT ==== */
    .about figure {
        max-width: 300px;
    }

    /* ==== SECTION SERVICES ==== */
    .services .title h2 {
        font-size: 3rem;
        text-align: center
    }

    .card {
        width: 280px;
    }

    .card i {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .card h5 {
        margin-bottom: 15px;
    }

    .card p {
        margin-bottom: 15px;
    }

    .card button {
        padding: 8px 20px;
    }

    /* ==== FOOTER ==== */
    footer .copy-right {
        bottom: 15px;
    }
}